* {
    font-family: 'Montserrat', sans-serif;
}

*.light {
    color: rgb(0,50,125);
}

*.dark {
    color: rgb(220,220,210);
}


body {
    padding: 2%;
}

body.light {
    background-color: rgb(255,255,255);
}

body.dark {
    background-color: rgb(0,15,35);
}


header {
}

.dark {

}

.light{

}



h1 {
   font-size: 2em;
   text-align: center;
   margin-top: 3%;
   padding-bottom: 1%;
   margin-bottom: 0;
}

h2 {
   margin-bottom: 2vw;
}

p {
   text-align: center;
   padding-top: 0%;
   margin-top: 0;
   letter-spacing: 0.1em;
}

a.dark {
   color: rgb(225,100,0);
}

a.light {
    color: rgb(225,25,0);
    font-weight: bolder;
}

footer a {
   text-decoration: none;
   font-style: italic;
}

footer p {
   text-align: center;
}

header img {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

section {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}

section li {
   letter-spacing: 0.1em;
}

.round {
   border-radius: 50%;

}

.proficient {
    font-size: 2em;
}

.medium {
    font-size: 1.5em;
}

.basic {
    font-size: 1em;
}

.habilidad {
  margin: 3vw;
}

.content_gallery {
  margin-top: 0;
  display: grid;
  grid-gap: 3vw;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  align-items: center;
}

.gallery img {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 2vw;
  min-width: 200px;
}

li:not(:last-child) {
   margin-bottom: 1vw;
}

.content_gallery ul {
  margin-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Screen bigger than 1250px */
@media (min-width: 1250px) {
  .content_gallery {
    grid-template-columns: 2fr 3fr;
  }
}

/* Screen smaller than 1250px */
@media (max-width: 1249px) {
  .content_gallery {
      grid-template-columns: 1fr;
  }
  section {
     width: 80%;
  }
}

/* Screen smaller than 700px */
@media (max-width: 700px) {
  section {
     width: 90%;
  }
  .gallery {
      grid-template-columns: 1fr;
  }
}
