div.code {
	min-width: 300px;
    width: 60%;
    white-space: nowrap;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    background-color: WhiteSmoke;
    border: 1px solid black;
    overflow-x:auto;
}

.code p{
    font-family: Iconsolata,monospace!important;
    font-size: calc(8px + 1vw)!important;
    text-align: justify!important;
    font-weight: 100!important;
    width: 90%!important;
    margin: 0!important;
}

span.blue {
    color: blue;
    font-weight: 600;
}

span.orange {
    color: SandyBrown;
    font-weight: 600;
}

span.darkcyan {
    color: darkcyan;
    font-weight: 600;
}

span.indigo {
    color: indigo;
}

span.midnightblue {
    color: midnightblue;
    font-weight: 600;
}

.comment{
    color: green;
}